<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <div class="">
        <h1 access="false" id="control-1995478">Add task<br></h1></div>
    <div class="formbuilder-text form-group field-text-1684684807996">
        <label for="text-1684684807996" class="formbuilder-text-label">Status</label>
        <input type="text" class="form-control" name="status" access="false" id="text-1684684807996">
    </div>
    <div class="formbuilder-text form-group field-text-1684686081542">
        <label for="text-1684686081542" class="formbuilder-text-label">Name</label>
        <input type="text" class="form-control" name="name" access="false" id="text-1684686081542">
    </div>
    <div class="formbuilder-text form-group field-text-1684686085889">
        <label for="text-1684686085889" class="formbuilder-text-label">Description</label>
        <input type="text" class="form-control" name="description" access="false" id="text-1684686085889">
    </div>
    <div class="formbuilder-text form-group field-text-1684686088688">
        <label for="text-1684686088688" class="formbuilder-text-label">Difficult</label>
        <input type="text" class="form-control" name="difficult" access="false" id="text-1684686088688">
    </div>
    <div class="formbuilder-text form-group field-text-1684686091794">
        <label for="text-1684686091794" class="formbuilder-text-label">Category</label>
        <input type="text" class="form-control" name="category" access="false" id="text-1684686091794">
    </div>
    <div class="formbuilder-button form-group field-button-1684686610860">
        <button type="submit" class="btn-default btn" name="button-1684686610860" access="false" style="default" id="button-1684686610860">Add
            <br>
        </button>
    </div>
</form>
</body>
</html>