<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <div class="">
        <h1 access="false" id="control-1995478">Add shoe<br></h1></div>
    <div class="formbuilder-text form-group field-text-1684684807996">
        <label for="text-1684684807996" class="formbuilder-text-label">Size</label>
        <input type="text" class="form-control" name="size" access="false" id="text-1684684807996">
    </div>
    <div class="formbuilder-text form-group field-text-1684686081542">
        <label for="text-1684686081542" class="formbuilder-text-label">Articul</label>
        <input type="text" class="form-control" name="articul" access="false" id="text-1684686081542">
    </div>
    <div class="formbuilder-text form-group field-text-1684686085889">
        <label for="text-1684686085889" class="formbuilder-text-label">Colour</label>
        <input type="text" class="form-control" name="colour" access="false" id="text-1684686085889">
    </div>
    <div class="formbuilder-text form-group field-text-1684686088688">
        <label for="text-1684686088688" class="formbuilder-text-label">Style</label>
        <input type="text" class="form-control" name="style" access="false" id="text-1684686088688">
    </div>
    <div class="formbuilder-text form-group field-text-1684686091794">
        <label for="text-1684686091794" class="formbuilder-text-label">Price</label>
        <input type="text" class="form-control" name="price" access="false" id="text-1684686091794">
    </div>
    <div class="formbuilder-text form-group field-text-1684686095179">
        <label for="text-1684686095179" class="formbuilder-text-label">Season</label>
        <input type="text" class="form-control" name="season" access="false" id="text-1684686095179">
    </div>
    <div class="formbuilder-text form-group field-text-1684686104094">
        <label for="text-1684686104094" class="formbuilder-text-label">Made in</label>
        <input type="text" class="form-control" name="made_in" access="false" id="text-1684686104094">
    </div>
    <div class="formbuilder-text form-group field-text-1684686113292">
        <label for="text-1684686113292" class="formbuilder-text-label">Sold out</label>
        <input type="text" class="form-control" name="sold_out" access="false" id="text-1684686113292">
    </div>
    <div class="formbuilder-text form-group field-text-1684686099017">
        <label for="text-1684686099017" class="formbuilder-text-label">Section shoes</label>
        <input type="text" class="form-control" name="section_shoes" access="false" id="text-1684686099017">
    </div>
    <div class="formbuilder-button form-group field-button-1684686610860">
        <button type="submit" class="btn-default btn" name="button-1684686610860" access="false" style="default" id="button-1684686610860">Add
            <br>
        </button>
    </div>
</form>
</body>
</html>